<!DOCTYPE html>
<html>
<head>
  <title>{{ app.name }}</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  <style>{{ app.css_code | safe }}</style>
  {{ app.ext_source }}
  <script>
      if (window.self === window.top) {
          window.location = "{% url 'app_detail' url_slug=app.url_slug %}"
      }
  </script>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
  <script>{{ app.js_code | safe }}</script>

</head>

<body>
  {{ app.html_code | safe }}
</div>

  <script>
  // tell the embed parent frame the height of the content
  if (window.parent && window.parent.parent){
    window.parent.parent.postMessage(["resultsFrame", {
      height: document.body.getBoundingClientRect().height,
      slug: "{{ app.url_slug }}"
    }], "*")
  }
</script>

</body>

</html>

