<div class="modal" id="sure-modal" data-target="" data-title="">
    <div class="modal-dialog dialog-width">
    <div class="modal-content modal-extend">
        <div class="modal-header close-top">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
            <h4 align="center">确认删除记录么</h4>
        </div>
        <div class="modal-footer footer-top">
            <button type="button" class="btn btn-primary pull-left">确认</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
    </div>
    </div>
</div>