<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="a.js"></script>
<script>
    var dom = document.getElementById('d')
    alert(dom)
    // window.onload = function(){
    //     var dom = document.getElementById('d')
    //     alert(dom)
    // }
</script>
</head>
<body>
    <div id="d">
        
    </div>
    <script>
        // var dom = document.getElementById('d')

        // alert(dom)
        // window.onload = function(){
        //     var dom = document.getElementById('d')
        //     alert(dom)
        // }
    </script>
</body>
</html>